// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';
@import 'variables_colours';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

// Import components
@import 'components/header';
@import 'components/page-layout';
@import 'components/footer';
@import 'components/node';
@import 'components/forms';

